body {
	padding: 25px 20px 40px 20px;
}

input[type="text"] {
	font-size: 1.5em;
}

.listing>div {
	margin-bottom: 20px;
}

#letterGrade {
	border: 1px solid black;
	border-radius: 8px;
	padding: 5px 15px 5px 15px;
}
